@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: local(montserrat), url("../font/montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html, body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

#slider-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.slider-slideshow__item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#slider-slideshow .slider-slideshow__item.vanilla-active {
  opacity: 1;
}

#slider-slideshow .slider-slideshow__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Arrows */
#slider-slideshow__previous {
  position: absolute;
  left: 10px;
  top: 40%;
  width: 48px;
  height: 50px;
  background-position: 0 100%;
  cursor: pointer;
  opacity: 0.7;
  z-index: 5;
  display: none;
}

#slider-slideshow__next {
  position: absolute;
  right: 10px;
  top: 40%;
  width: 48px;
  height: 50px;
  background-position: 100% 100%;
  cursor: pointer;
  opacity: 0.7;
  z-index: 5;
  display: none;
}

#slider-slideshow__previous:hover, #slider-slideshow__next:hover {
  opacity: 1;
}

/* Indicators */
#vanilla-indicators {
  display: inline-block;
  z-index: 5;
  position: absolute;
  bottom: 50px;
}

.vanilla-indicators {
  box-shadow: 0 0 10px #333333;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  float: left;
  margin-right: 3px;
  cursor: pointer;
}

.vanilla-indicators.vanilla-active {
  background-color: #ffffff;
}

.main-hero {
  position: relative;
}
.main-hero__content {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
  text-align: center;
  z-index: 111;
}

.headline {
  font-family: "montserrat";
  font-weight: normal;
  font-weight: 600;
  color: #fff;
}
.headline--w8 {
  font-weight: 800;
}
.headline--1 {
  font-size: 8vw;
}

.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: background 300ms;
}
.page-header::before {
  content: "";
  width: calc(100% - 85px);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.page-header--bg {
  background: #fff;
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: center;
}
.page-header__menu-key {
  width: 5rem;
  padding: 0.625rem 0.75rem;
  position: relative;
  margin-left: 5px;
}
.page-header__menu-icon {
  display: none;
  top: 0;
  width: 100%;
}
.page-header__menu-icon.active {
  display: inline-block;
}

.page-logo {
  margin-left: 5%;
  display: inline-block;
}

.svg-wrapper {
  width: 8.125rem;
}

.svg-gfx {
  width: 100%;
  height: 100%;
  display: block;
}

.btn-container {
  position: relative;
}
.btn-container--mr30 {
  margin-right: 1.875rem;
}

.btn {
  color: #FE3775;
  font-family: "montserrat";
  font-size: 1rem;
  display: inline-block;
  background: #fff;
  padding: 0.5625rem 0.9375rem;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.btn--a-unstyle {
  text-decoration: none;
}
.btn--b-unstyle {
  border: 0;
}
.btn--transparent {
  background: transparent;
}
.btn--uppercase {
  text-transform: uppercase;
}
.btn--login {
  transition: 300ms;
  font-weight: 600;
}
.btn--login:hover {
  background: #FE3775;
  color: #fff;
}

.primary-nav {
  width: 100%;
  min-height: 60vh;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  transition: visibility 300ms, opacity 300ms, transform 10ms;
  transition-timing-function: linear;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0px);
}
.primary-nav.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.form-control-overlay {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  left: -100px;
  right: -100px;
  top: -100px;
  bottom: -100px;
  background: linear-gradient(198deg, rgba(0, 0, 0, 0.6), rgba(126, 121, 122, 0.6));
  z-index: 198;
  filter: blur(10px);
  transition: transform 200ms, visibility 200ms, opacity 200ms;
  transition-timing-function: linear;
  transform: scale(0.5);
  visibility: hidden;
  opacity: 0;
}
.form-control-overlay.active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.form-control {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 200ms, visibility 200ms, opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
.form-control--active {
  z-index: 292;
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-control__contents {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-control__container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-control__container--signIn {
  left: 0;
  width: 50%;
  z-index: 2;
}

.form-control__contents.right-panel-active .form-control__container--signIn {
  transform: translateX(100%);
}

.form-control__container--signup {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.form-control__contents.right-panel-active .form-control__container--signup {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.form-control__contents.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.form-control__contents.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.form-control__contents.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.form-control__contents.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.form-signup__gender {
  display: flex;
}
